NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=CreativeRafaSuperSecretKeyThatShouldBeChangedInProduction

# Admin credentials (CredentialsProvider)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme
